<app-booking-confirmation-modal 
  *ngIf="showConfirmation"
  [bookingId]="bookingId"
  [tickets]="tickets"
  [totalAmount]="totalAmount"
  (modalClosed)="closeReserveModalAfterBooking()">
</app-booking-confirmation-modal>

<div class="custom-modal-backdrop" *ngIf="showReserveModal">
  <div class="custom-modal" *ngIf="isTicketsAvailable">
    <span class="close" (click)="close()">&times;</span>
    <div *ngIf="isLoggedIn; else loginPrompt">
      <h2>Time Remaining</h2>
      <h3>{{ getFormattedTime() }}</h3>
      <!-- Display the formatted countdown time -->
      <h2>Reservation Details</h2>

      <p>
        Your reservation is on hold. Please complete your purchase before the
        time runs out.
      </p>
      <p>You have reserved the following tickets:</p>

      <ul>
        <li *ngFor="let ticket of getSelectedTickets()">{{ ticket.id }} {{ ticket.name }}</li>
      </ul>

      <p>Total: {{ totalAmount | currency }}</p>
      <div *ngIf="totalAmount !== 0">
        <form id="payment-form">
          <label for="card-number-element">Card Number</label>
          <div id="card-number-element" class="stripe-input"></div>
          <label for="card-expiry-element">Expiration Date</label>
          <div id="card-expiry-element" class="stripe-input"></div>
          <label for="card-cvc-element">Security Code</label>
          <div id="card-cvc-element" class="stripe-input"></div>
        </form>
      </div>
      <button type="button" (click)="pay()">Pay</button>
    </div>

    <ng-template #loginPrompt>
      <p>Please <a routerLink="/login">login</a> to reserve tickets.</p>
    </ng-template>
  </div>
  <div class="custom-modal" *ngIf="!isTicketsAvailable">
    <span class="close" (click)="close()">&times;</span>
    <p>Sorry! An error occured.</p>
  </div>
</div>
