<app-booking-confirmation-modal 
  *ngIf="showConfirmation"
  [bookingId]="bookingId"
  [tickets]="tickets"
  [totalAmount]="calculatedTotal"
  [platformFee]="platformFee"
  (modalClosed)="closeReserveModalAfterBooking()">
</app-booking-confirmation-modal>

<div class="custom-modal-backdrop" *ngIf="showReserveModal">
  <div class="custom-modal" *ngIf="isTicketsAvailable">
    <span class="close" (click)="close()">&times;</span>
    <div *ngIf="isLoggedIn; else loginPrompt">
      <h2>Time Remaining</h2>
      <h3>{{ getFormattedTime() }}</h3>
      <!-- Display the formatted countdown time -->
      <h2>Reservation Details</h2>

      <p>
        Your reservation is on hold. Please complete your purchase before the
        time runs out.
      </p>
      <p>You have reserved the following tickets:</p>

      <ul>
        <li *ngFor="let ticket of getSelectedTickets()">1 x {{ ticket.name }} <span class="ticket-price">{{ ticket.price | currency }}</span></li>
        <li>Platform Fee<span class="ticket-price">{{ platformFee | currency }}</span></li>
        <li>Total<span class="ticket-price">{{ calculatedTotal | currency }}</span></li>
      </ul>

      <div [hidden]="totalAmount === 0">
        <form id="payment-form">
          <div id="payment-element">
            <!-- Elements will create form elements here -->
          </div>
          <button id="submit" (click)="pay()">Submit</button>
          <div id="error-message">
            <!-- Display error message to your customers here -->
          </div>
        </form>
      </div>
    </div>

    <ng-template #loginPrompt>
      <div *ngIf="!isGuestCheckout && !isLoggedIn">
        <p>Please login or continue as a guest to reserve tickets.</p>
        <button (click)="login()">Login</button>
        <button (click)="continueAsGuest()">Continue as Guest</button>
      </div>

      <div [hidden]="!isGuestCheckout || isLoggedIn">
        <form [formGroup]="guestForm">
          <h2>Time Remaining</h2>
          <h3>{{ getFormattedTime() }}</h3>
          <!-- Display the formatted countdown time -->
          <h2>Reservation Details</h2>
    
          <p>
            Your reservation is on hold. Please complete your purchase before the
            time runs out.
          </p>
          <p>You have reserved the following tickets:</p>
    
          <ul>
            <li *ngFor="let ticket of getSelectedTickets()">{{ ticket.id }} {{ ticket.name }} - {{ ticket.price | currency }}</li>
          </ul>
          <p>Platform Fee: {{ platformFee | currency }}</p>
          <p>Total: {{ calculatedTotal | currency }}</p>
          <div class="form-group">
            <div *ngIf="emailMismatch" class="error-email">Emails do not match</div>
            <label for="email">Email</label>
            <input type="email" id="email" class="form-input" formControlName="email" required placeholder="Enter your email" />
          </div>
          <div class="form-group">
            <label for="confirmEmail">Confirm Email</label>
            <input type="email" id="confirmEmail" class="form-input" formControlName="confirmEmail" required placeholder="Confirm your email" />
          </div>
          <div [hidden]="totalAmount === 0">
            <form id="payment-form">
              <div id="payment-element">
                <!-- Elements will create form elements here -->
              </div>
              <button id="submit" (click)="onGuestCheckout()">Submit</button>
              <div id="error-message">
                <!-- Display error message to your customers here -->
              </div>
            </form>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
  <div class="custom-modal" *ngIf="!isTicketsAvailable">
    <span class="close" (click)="close()">&times;</span>
    <p>Sorry! An error occured.</p>
  </div>
</div>
