.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-height: 800px;
  overflow-y: auto;
}

.booking-details {
  margin-top: 20px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #5cb85c;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  width: 400px;
}

button:hover {
  background-color: #4cae4c;
}

ul {
  padding: 0;
  list-style-type: none;
}

.ticket-price {
  float: right;
}
