<div class="modal-backdrop">
    <div class="modal-container">
      <h2>Booking Confirmation</h2>
      <p>Your booking was successful! Here are the details:</p>
  
      <div class="booking-details">
        <p><strong>Confirmation Number:</strong> {{ bookingId }}</p>
  
        <div class="tickets">
          <h3>Tickets:</h3>
          <ul>
            <li *ngFor="let ticket of tickets">
              1 x {{ ticket.name }} <span class="ticket-price">{{ ticket.price | currency }}</span>
            </li>
            <li>Platform Fee<span class="ticket-price">{{ platformFee | currency }}</span></li>
            <li>Total<span class="ticket-price">{{ totalAmount | currency }}</span></li>
          </ul>
        </div>
      </div>
  
      <button (click)="closeModal()">Close</button>
    </div>
  </div>
  