.scanner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100vh;
  background-color: #f4f4f9;
  text-align: center;
}

.scanner-box {
  width: 100%;
  max-width: 1200px;
  height: auto;
  aspect-ratio: 1; /* Keeps the scanning area square */
  border: 2px solid #333;
  margin: 20px 0;
}

#reader {
  overflow: hidden; /* Prevents any overflow if the video stretches out of bounds */
}

#reader video {
  object-fit: cover; /* Ensures the video stretches to cover the entire container */
}

.scanner-btn {
  position: absolute;
  bottom: 100px;
}

.checkmark-image {
  width: 45%;
  max-width: 300px;  
  position: absolute;
  bottom: 400px;
}

.ticket-pass {
  position: absolute;
  color: #43A047;
  font-size: 50px;
  font-weight: 1000;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 365px;
}

.invalid-image {
  width: 45%;
  max-width: 300px;
  position: absolute;
  bottom: 400px;
}

.ticket-fail {
  position: absolute;
  color: #D50000;
  font-size: 50px;
  font-weight: 1000;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 365px;
}

.invalid-msg {
  position: absolute;
  bottom: 350px;
}

button {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #357abd;
}

@media (max-width: 600px) {
  .scanner-box {
    width: 100%; /* Adjust width to fit smaller screens */
    height: auto;
  }
  button {
    width: 100%; /* Full-width button for smaller screens */
  }
}
