<div class="reset-password-container">
  <div class="reset-password">
    <h2>Reset Password</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div *ngIf="passwordMatchError">
          <label class="password-match-error">Your passwords are not matching.</label>
        </div>
        <input
          class="form-control"
          type="password"
          [(ngModel)]="newPassword"
          name="newPassword"
          placeholder="Enter your password here"
          required
        />
        <input
          class="form-control"
          type="password"
          [(ngModel)]="retypePassword"
          name="retypePassword"
          placeholder="Re-type your password here"
          required
        />
      </div>
      <button class="btn" type="submit">Reset Password</button>
    </form>
  </div>
</div>
